spring:
  application:
    name: lip-dashboard

  datasource:
    url: jdbc:postgresql://127.0.0.1:5432/postgres
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
      connection:
        url: ${spring.datasource.url}
    show-sql: true

server:
  port: 8081
